<#import "parts/common.ftlh" as def>

<@def.default>
    <form enctype="multipart/form-data" method="post" action="/image">
        <p>Загрузить фото номера автомобиля</p>
        <input type="file" name="car-number" multiple accept="image/*">
        <input type="submit" value="Отправить">
    </form>
</@def.default>